* {
    box-sizing: border-box;
}

.sidebar_container {
    background-color: rgb(255, 255, 255);
    list-style: none;
    width: 164px;
    position:sticky;
    padding-top:2%;
    height: 100vh;
    top:56px;
    border-right: 1px solid rgb(215, 215, 215);
}

.sidebar_container_sticky {
    position: fixed;
}

.sidebar_title {
    font-size: 13px;
    color: rgb(113, 112, 112);
    padding-left: 5%;
    text-align: justify;
    justify-content: space-between;
    display: flex;
    padding-bottom: 13px;
    padding-right: 9px;
}

.sidebar_nav {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding-inline-start: 5%;
    color: rgb(83, 82, 82);
    padding-left: 30px;
}

.sidebar_que {
    color: rgb(83, 82, 82);
    font-size: 13px;
    padding-left: 10%;
    padding-bottom: 10px;
}

.sidebar_que:hover {
    color:rgb(0, 0, 0);
}

.nav_tags:hover {
    color:rgb(0, 0, 0);
}

.nav_users:hover {
    color:rgb(0, 0, 0);
}

.nav_com:hover {
    color:rgb(0, 0, 0);
}

.nav_tags {
    padding-top: 10px;
}

.nav_users {
    padding-top: 10px;
}

.nav_com {
    padding-top: 10px;
}
.sidebar_but {
    font-size: 12px;
    color: rgb(64, 96, 177);
    background-color: rgb(232, 246, 249);
    border-radius: 3px;
    padding: 4%;
}

.sidebar_but:hover {
    color: rgb(40, 51, 80);
}

.sidebar_except {
    font-size: 13px;
    color: rgb(83, 82, 82);
    padding-left: 4%;
}

.sidebar_except:hover {
    color:rgb(0, 0, 0);
}


.icon {
    color: rgb(255, 153, 0);
    font-size: 18px;
    padding-right: 5px;
}

.sidebar_collectives {
    padding-top: 20px;
}

.sidebar_teams {
    padding-bottom: 13px;
    padding-top: 20px;
}