* {
    box-sizing: border-box;
}

.Inbox_container {

    position: absolute;
    top: 78%;
    width: 375px;
    height: 423px;
    background-color: #ffffff;
    border: 1px solid rgb(223, 221, 221);
    box-shadow: 0 0 8px rgb(223, 221, 221);
    right: 0%;
    margin-top: 11px;
    z-index: 10;

    margin: 5px;
   
}

.Inbox_header:hover {
    background-color: rgb(233, 231, 231);
}

.Inbox_alarm:hover {
    background-color: rgb(233, 231, 231);
}
.inbox_img {
    width: 16px;
    height: 15px;
}

.Inbox_header {
    width: 100%;
    height: 32px;
    background-color: rgb(243, 241, 241);
    border-bottom: solid 1px rgb(179, 179, 179);
    justify-content: space-between;
    display: flex;
    font-size: 11px;
    padding: 5px;
}

.Inbox_drop {
    font-weight: bold;
    color: rgb(86, 86, 86);
}

.Inbox_mark {
    color: rgb(4, 100, 184);
    font-size: 12px;
}


.inbox_welcome {
    display: flex;
    padding-top: 10px;
    font-size: 13px;
    color: rgb(80, 80, 79);
}

.inbox_welcome2 {
    color:rgb(4, 100, 184);
    font-weight: bold;
    font-size: 12px;
    padding-left: 14px;
}
.Inbox_alarm {
    padding-bottom: 10px;
    border-bottom: solid 1px rgb(179, 179, 179);
    text-align: left;
    
}

.inbox_bottom {
    display: flex;
    position: relative;
    top: 280px;
    justify-content: center;
    font-size: 13px;
    color: rgb(4, 100, 184);
}